@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Pirata+One&display=swap');


body{
    background-color: #EEEBE0;
    color: #D4AC0D;
    font-family: "Pirata One";
    margin: 0;
    padding: 0;
}
header{
    background-color: #004189;
    font-family: "Pirata One";
    display:grid;
    grid-template-columns: 10% auto;
}
.logo{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    color:#D4AC0D;
    text-decoration: none;
    text-align: center;
    padding: 70px;
    font-size: 12, auto;
}
nav a:hover{
    color:white;
    background-color: #D4AC0D;
}
h1{
    text-align: center;
    font-size: 30px;
}
h4{
    text-align: center;
    font-family: "Bona Nova";
}
#hero-images{
    display:grid ;
    grid-template-columns: repeat(2, 50%);
}
#hero-image-1{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid #004189;
  border-radius: 10px;
  margin-top: 20px;
}
#hero-image-2{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid #004189;
  border-radius: 10px;
  margin-top: 20px;
}
#outer-map{
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 480px;
    border: 8px solid #004189;
    margin-top: 50px;
    border-radius: 10px;
}
footer{
    background-color: #004189;  
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}   
footer a{
    color: #D4AC0D;
    text-decoration: none;
}
footer a:hover{
    color:white;
}
footer p{
    font-size: 1.2em;   
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
footer p a:hover{
    text-decoration: underline;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
    transition: transform .5s;
}
footer .social img:hover{
    transform: scale(1.1);
}
#contact-us{
    margin-top: 5%;
    margin-bottom: 5%;
}
#feedback{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 5px solid #004189;
  border-radius: 10px;
  padding:5px;
}
/*This code was taken from the white water rafting contact us page*/ 
input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  input:focus,
  textarea:focus {
    outline-style: solid;
    outline-color: #000;
  }  
  .button {
    padding-left: 90px;
  }

.article-hero-msg{
    margin: 40px;
}
.articles{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}
.article-1-title{
    grid-column: 1/3;
    grid-row: 1/2;
}
.article-1-msg{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 20px;
    margin: 5px;
}
.article-1-img{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 300px;
    margin: 5px;
    border-radius: 10px;
}
.article-2-title{
    grid-column: 1/3;
}
.article-2-msg{
    font-size: 20px;
    margin: 5px;

}
.article-2-img{
    width: 300px;
    margin:5px;
    border-radius: 10px;
}
.article-3-title{
    grid-column: 1/3;
}
.article-3-msg{
    grid-column: 2/3;
    font-size: 20px;
    margin: 5px;
}
.article-3-img{
    width: 300px;
    grid-column: 1/2;
    margin: 5px;
    border-radius: 10px;
}