@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    background-color: rgba(221, 228, 238,);
    font-family: "Oswald" arial;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
}
#content{
    background-color: lightblue;
    max-width: 1000px;
    margin: 0 auto;
}
nav, footer{
    background-color: steelblue;
    text-align: center;
    padding: 24px;
}
a {
    color: #000;
    font: size 11px;
    padding: 25px;
    font-family: arial;
}
main a{ 
    color: black;
    font-size: 1em;
    padding: 0;
}
a:hover{
    background-color:beige;
    color:steelblue
}
img{
    width: 50%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    
}
p{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 5px solid black;
    padding: 15px;
    border-radius: 10px;
}
footer{
    background-color: steelblue;
}
footer p {
    text-align: center;
    color: beige;
}